{% extends 'main.html' %}

{% block gap %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="font-size: 40px; margin-left: 20%; margin-right: 20px;">Bienvenido a BeLab</div>
<h4 style="font-size: 22px; margin-left: 20%; margin-right: 20px;">Behavioral Laboratory on-line, comunidad y conjunto de herramientas para investigadores en Ciencias del Comportamiento</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock gap %}
    